@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  --light-yellow: #FBF8CC;
  --dark-blue: #03045E;
  --poppins: "Poppins", sans-serif;
}

body {
  background: var(--light-yellow);
  overflow-x: hidden;
}

nav {
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--poppins);
}

nav > #nav-title {
  color: var(--dark-blue);
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  display: inline-block;
  margin-top: 1rem;
  margin-left: 3rem;
}

nav > ul {
  margin-top: 2rem;
  color: var(--dark-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav > #nav-links {
  width: 20vw;
}

nav > #social-links {
  width: 10vw;
  font-size: 1.5rem;
  margin-right: 3rem;
}

/* Main Banner */

#main-banner {
  background-color: #ff000011;
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About Me */

#aboutme-banner {
  background-color: #00ff0011;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Projects Banner */

#projects-banner {
  background-color: #0000ff11;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact Me Banner */

#contactme-banner {
  background-color: #ff00ff11;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */

#footer-container {
  background-color: black;
  color: white;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}